@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    color: rgba(146, 149, 166, 100);
    background-color: #ffffff;
    //font-family: 'Roboto', "PingFang SC", "Microsoft YaHei";
    font-family: 'IBM Plex Sans','Montserrat','Roboto', "PingFang SC", "Microsoft YaHei";
}

.main_container.panda {
    .section_title{
        color: rgba(78, 95, 127, 100);
        font-size: 28px;
        height: auto;
    }

    .sub_btn.next-btn.next-btn-primary {
        color: #fff;
        width: 300px;
        height: 60px;
        border-radius: 30px;
        background-color: rgba(80, 221, 187, 1);
        background-image: url("../img/icon_btn_arrow.png");
        background-position: 247px 20px;
        background-repeat: no-repeat;
        border-color: rgba(80, 221, 187, 1);
        font-size: 20px;
        font-weight: bold;
    }
    .sub_btn.next-btn.next-btn-primary:hover{
        background-color: rgba(81, 205, 175, 1);
    }
    .sub_btn.next-btn.next-btn-primary[disabled] {
        color: rgba(187, 189, 200, 100);
        background-image:none;
        background-color: rgba(220, 221, 231, 1);
        border: 2px solid rgba(210, 212, 222, 1);
    }

    .sub_btn.sub_btn_long{
        width: 250px;
        margin: 10px 0;
    }

    .sub_btn.next-btn.next-btn-primary.sub_btn_short {
        width: 280px;
        background-image:none;
        background-color: rgba(0, 216, 178, 0);
        border: 1px solid rgba(80, 221, 187, 1);
        color: rgba(0, 216, 178, 100);
        margin: 10px 0;
        font-size: 20px;
    }
    .sub_btn.next-btn.next-btn-primary.sub_btn_short:hover{
        background-color: rgba(0, 216, 178, 0.15);
        border: 1px solid rgba(80, 221, 187, 1);
    }
    .sub_btn.next-btn.next-btn-primary.sub_btn_short[disabled] {
        color: rgba(187, 189, 200, 100);
        background-color: rgba(220, 221, 231, 1);
        border: 2px solid rgba(210, 212, 222, 1);
    }

    .next-radio-button > label .next-radio-label,
    .next-radio-button > label.checked .next-radio-label{
        font-size: 18px;
    }

    .next-radio-button > label.checked .next-radio-label{
        color: #fff;
    }

    .next-radio-button > label{
        border-radius: 0;
        background-color: rgba(0, 216, 178, 0);
        border: 1px solid rgba(80, 221, 187, 1);
        color: rgba(80, 221, 187, 100);
        font-size: 20px;
        font-weight: bolder;
    }
    .next-radio-button > label .next-radio-label{
        color: rgba(80, 221, 187, 100);
    }
    .next-radio-button > label.checked{
        color: #fff;
        background-color: rgba(80, 221, 187, 1);
        border: 1px solid rgba(80, 221, 187, 1);
    }

    .next-input.next-medium .next-input-inner{
        font-size: 18px;
    }
}

.next-tabs-pure > .next-tabs-bar {
    border-bottom: 0;
}

.trading_container .coin_switch .next-tabs-tab-inner{
    color: rgba(146, 149, 166, 100);
    font-size: 20px;
}

.trading_container .coin_switch .next-tabs-tab.active .next-tabs-tab-inner{
    color: rgba(80, 221, 187, 100);
}

.next-tabs-pure > .next-tabs-bar .next-tabs-nav-container .next-tabs-tab:before {
    border-bottom: 4px solid rgba(220, 221, 231, 1);
    width: 100%;
    left: 0%;
}
.next-tabs-pure > .next-tabs-bar .next-tabs-nav-container .next-tabs-tab.active:before{
    border-bottom: 4px solid rgba(80, 221, 187, 1);
}

.next-tabs-pure > .next-tabs-bar .next-tabs-nav-container .next-tabs-tab.active {
    color: #fff;
    background-color: #ffffff;
}

.next-menu{
    border: 1px solid rgba(0, 216, 178, 1);
    border-radius: 0;
}

.next-menu-item{
    color: rgba(78, 95, 127, 100);

    .next-menu-item-inner{
        padding-left: 5px;
        font-size: 18px;

        .next-menu-symbol-icon-selected{
            color: #50ddbb;
        }
        .next-menu-item-text{
            margin-left: 5px;
        }
    }
}
.next-menu-item:not(.next-disabled):hover, .next-menu-item:not(.next-disabled).next-selected:hover, .next-menu-item:not(.next-disabled).next-selected.next-focused:hover, .next-menu-item:not(.next-disabled).next-selected:focus:hover, .next-menu-item:not(.next-disabled).next-focused, .next-menu-item:not(.next-disabled).next-selected.next-focused, .next-menu-item:not(.next-disabled).next-selected:focus{
    color: rgba(78, 95, 127, 100);
    background-color: rgba(231, 255, 245, 1);
}

.next-loading-fusion-reactor .next-loading-dot{
    background: #50DDBB 100%;
}

.LoadSpinner_loader__VeMYv,
.LoadSpinner_loader__VeMYv:before,
.LoadSpinner_loader__VeMYv:after{
    width: 0;
    height: 0;
}

.table_container{
    .next-table{
        width: 100%;
    }

    th,
    td{
        border: 0;
        border-bottom: 1px solid rgba(220, 221, 231, 1);
    }

    th{
        color: rgba(78, 95, 127, 100);
        font-size: 14px;
        background-color: rgba(250, 250, 250, 1);
        padding: 12px 10px;

        .next-table-cell-wrapper{
            padding: 0;
            word-break: break-word;
            word-wrap:break-word;
        }
    }

    td{
        color: rgba(78, 95, 127, 100);
        font-size: 14px;

        .next-table-cell-wrapper{
            padding: 12px 10px;
        }
    }

    tbody tr:hover{
        background-color: rgba(240, 241, 250, 1);
    }
}

.section_container .module_title{
    margin-top: 20px;
    padding-left: 8px;
    border-left: 5px solid #50ddbb;
}

.overlay_container{
    width: 720px;
    height: 540px;
    border-radius: 19px;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .item{
        width: 100%;
        text-align: left;
    }
    .item_des{
        margin: 10px 0;
    }
    .title{
        line-height: 28px;
        color: rgba(85, 91, 117, 100);
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 35px;
    }

    .next-input {
        width: 520px;
        font-weight: bolder;
        background-color: rgba(0, 216, 178, 0);
        margin-top: 10px;
        margin-bottom: 25px;
        color: rgba(179, 193, 200, 100);
        border: 1px solid #50ddbb;
        border-radius: 0;
    }

    .next-input.next-medium input{
        font-size: 20px;
        height: 50px;
        color: rgba(179, 193, 200, 100);
    }

    .next-input.next-disabled,
    .next-input.next-disabled input{
        background-color: rgba(179, 193, 200, 0.2);
        border: 1px solid rgba(208, 218, 223, 1);
        color: rgba(85, 91, 117, 100);
    }

    .next-input.next-medium .next-input-inner{
        color: rgba(80, 221, 187, 100);
        padding-right: 10px;
    }

    .tips{
        color: rgba(255, 172, 0, 100);
        font-size: 20px;
    }

    .sub_btn_box{
        margin-top: 75px;
        text-align: center;

        .next-btn.next-btn-primary {
            width: 180px;
            height: 50px;
            margin: 0 20px;
            border-radius: 25px;
            font-size: 18px;
            font-weight: bold;
        }

        .next-btn.next-btn-primary.cancel{
            background-color: rgba(0, 216, 178, 0);
            border: 1px solid rgba(80, 221, 187, 1);
            color: rgba(80, 221, 187, 100);
        }

        .next-btn.next-btn-primary.cancel:hover{
            background-color: rgba(0, 216, 178, 0.15);
        }

        .next-btn.next-btn-primary.confirm{
            background-color: rgba(80, 221, 187, 1);
            color: rgba(255, 255, 255, 100);
            font-size: 18px;
            font-weight: bold;
        }

        .next-btn.next-btn-primary.confirm:hover{
            background-color: rgba(81, 205, 175, 1);
        }

        .next-btn.next-btn-primary.confirm[disabled],
        .next-btn.next-btn-primary.confirm[disabled]:hover{
            color: #bbbdc8;
            background-color: #dcdde7;
            border: 2px solid #d2d4de;
        }
    }
}
