.opa_claim_pop_windows{
    .rewards_box{
        margin-top: 20px;
    }

    .asset_value,
    .asset_unit{
        color: rgba(85, 91, 117, 100);
        font-weight: bolder;
        font-size: 16px;
    }

    .asset_value{
        margin-right: 15px;
        font-size: 24px;
    }
}
